body {
  margin: 1rem 4rem;
}

header {
  height: 4rem;
  border-bottom: 1px solid;
}

footer {
  height: 2rem;
  border-top: 1px solid;
}

#showPop {
  background-color: blueviolet;
  color: red;
}

#pageContainer {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: hsl(120, 100%, 20%)
}

#popContainer {
  border: 1px solid;
  width: 25rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: calc(50vw - 12.5rem);
  top: 10rem;
  background-color: yellow;
}

.hidden {
  visibility: hidden;
}

#taskList {
  list-style-type: none;
  padding: 0px;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: maroon;
}
